/*------------------------------------*\
  #header
\*------------------------------------*/

/**
 * Global header
 *
 * Comment
 */

.header {
  padding: 20px 0;
}

.header--front {
  position: absolute;
  width: 100%;
  z-index: 10;
}

  .header__logo {}

  .header__nav {}


.header--inverse {}
