/*------------------------------------*\
  #Navigation
\*------------------------------------*/

/**
 * This section demonstrates how the sites navigation is styled
 */

.main-menu {
  background: rgba($black, .95);
  list-style: none;
  padding: 100px 0 0 0;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  transition: all 300ms cubic-bezier(.694, .0482, .335, 1);
  z-index: 5;

  @include respond-to(sm) {
    background: none;
    padding: 0;
    margin-right: 40px;
    height: auto;
    transition: none;
    width: auto;
    @include centerElemV();
  }

  @include respond-to(xl) {
    margin-right: 0;
  }
}

/**
 * Main nav open state
 */
.main-menu--open {
  transform: translateX(0);
}

  .main-menu__item {
    text-align: center;

    @include respond-to(sm) {
      display: inline-block;
      margin-left: 36px;
      text-align: left;
    }
  }

  /**
   * Main nav link item - <a>
   */
  .main-menu__link {
    color: $white;
    display: block;
    padding: 30px 10px;
    font-size: $font-size-xl;
    transition: all .12s ease-in-out;

    .header--front & {
      color: $white;
    }

    @include respond-to(sm) {
      color: $black;
      font-size: $font-size-lg;
      padding: 0;
      position: relative;
    }

    @include respond-to(md) {

      &:hover { color: $primary-color; }
    }

    &:hover {
      background: #000000;
      text-decoration: none;

      @include respond-to(sm) {
        background: none;
      }
    }
  }
